.social-follows {
    color:#ffff;
    padding:1.5rem;
}

.social-follows--facebook {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background-color: #4d6baa;
}

.social-follows--twitter {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    background-color: #4fc6f8;
}

.social-follows__item {
    display: flex;
    flex-direction: column;
}

.social-follows--icon {
    font-size: 3.4rem;
    display: block;
}

.social-follows__text {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-follows__text > div {
    display: flex;
    align-items: center;
    margin-right: 0;
}

.social-follows__text--bold {
    font-weight: bold;
}

.social-follows--check {
    font-size:1.3rem;
    padding-left: 1rem;
}