.join {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:1.8rem;
}

.sign__in {
    grid-column: 3 /5;
    grid-row: 4 / 5; 
}

.sign__social {
    padding-top: 1rem;
}

.item_title {
    font-size: 1.7rem;
    font-weight: bold;
}

.sign__in p {
    font-size: 0.9rem;
}

.newsletter {
    grid-column: 3 /5;
    grid-row: 5 / 6;
}

.newsletter p {
    font-size:0.8rem;
}

#email {
    width:100%;
    height: 2.6rem;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
}

.email__input {
    height: inherit; 
    color:#a3abaf;
    padding-left:1rem;
    width:80%;
}

.email__button {
    height: inherit;
    width:5.5rem;
    background-color:#ea6060;
    color:#ffff;
    text-transform: uppercase;
    border-radius: 4px;
    border:none;
    margin-left: 1rem;
}