/*menu*/

.nav-sidebar {
    grid-column: 1 / 3;
    grid-row: 2 / 6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#nav-detailed {
    width:50%;
}

#nav-detailed__list {
    background-color: #ffffff;
}

#nav-detailed__list > li {
    height: 4.5rem;
}

#nav-detailed__list a {
    text-decoration: none;
    color: inherit;
    height: inherit;
    display:flex;
    align-items: center;
    border-bottom: 1px solid #c5cdd1;
}

#nav-detailed__list a:hover {
    background-color: #56ccc8;
    color:white;
}

#nav-detailed__list img {
    padding-left:1.8rem;
    position: absolute;
}

.nav-detailed__icon--hover {
    display: none;
}

.nav-detailed__text {
    margin-left: 5rem;
}

/* contact */

.contact {
    background-color: #c5cdd1;
    display: flex;
    flex-direction: column;
    color:#ffffff;
    font-size: 0.9rem;
    height: 15.5rem;
}

.contact > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:2.4rem;
}

.contact__icon {
    padding-left:1.8rem;
    position: absolute;
}

.contact__icon--middle {
    padding-left:2rem;
    position: absolute;
}

.contact__text {
    margin-left: 5rem;
}

/*expand menu*/

#expand-menu {
    width:50%;
    background-color: #152840;
    display: flex;
    flex-direction: column;
    align-content:stretch;
    line-height: 30px;
    color:#ffff;
}

#expand-menu a{
    text-decoration: none;
    color:inherit;
}

#expand-menu a:hover {
    color:#56ccc8;
}

.expand-menu__items {
    box-shadow: 0px 1px 0px 0px #445e78;
    padding-left:2.3rem;
    padding-top:2rem;
    padding-bottom: 2rem;
}

.expand-menu__items:first-child{
    padding-top: 1rem;
}

.expand-menu__items:last-child {
    box-shadow: none;
}

.expand-menu__items:hover {
    background-color: #263a54;
}

.expand-menu__items-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.expand-menu__items-header img {
    padding-right: 1.7rem;    
    cursor:pointer;
    transition-duration: 0.4s;
}

.expand-menu__items-header img:hover {
    padding-right: 1.1rem;    
}

#expand-menu h4 {
    color:#56ccc8;
    font-weight: 500;
}