.social-media {
    grid-column: 3/4;
    grid-row: 2/4;
    background-color: #ffff;

}

.social-media ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
    padding:1.8rem;
}

.social-media a {
    text-decoration: none;
    color: inherit;
}

.social-media__items a {
    display: flex;
    align-items: center;
}

.social-media__icons {
    color:#c5cdd1;
    font-size: 32px;
    padding-right: 1.5rem;
}

.icon__social--facebook:hover > * {
    color:#3b5998;
}

.icon__social--twitter:hover > * {
    color:#1dcaff;
}

.icon__social--google:hover > * {
    color:#d34836;
}

.icon__social--rss:hover > * {
    color:#ff6600;
}

.icon__social--pinterest:hover > * {
    color: #cb2027;
}




