/*menu*/

.nav-detailed {
    grid-column: 1 / 2;
}

.nav-detailed__list {
    background-color: #ffffff;
}

.nav-detailed__list > li {
    height: 60px;
}

.nav-detailed__list a {
    text-decoration: none;
    color: inherit;
    height: 60px;
    display:flex;
    align-items: center;
    border-bottom: 1px solid #c5cdd1;
}

.nav-detailed__list a:hover {
    background-color: #56ccc8;
    color:white;
}

.nav-detailed__list img {
    padding-left:1.8rem;
    position: absolute;
}

.nav-detailed__icon {
    z-index:1;
}

.nav-detailed__text {
    margin-left: 5rem;
}

/* contact */


.contact {
    background-color: #c5cdd1;
    height: 246px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#ffffff;
    font-size: 0.9rem;
    padding-top: 0.3rem;
    margin:auto;
}


.contact > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.7rem;
}

.contact__icon {
    padding-left:1.8rem;
    position: absolute;
}

.contact__icon--middle {
    padding-left:2rem;
    position: absolute;
}

.contact__text {
    margin-left: 5rem;
}